<div class="container w-50">
<p> Edit Child Product Information </p>
  <%= simple_form_for(@product_type) do |f| %>
    <%= f.input :title %>
    <%= f.input :lead_time %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Finished", class: "btn btn-secondary" %>
  <% end %>
  <%= link_to 'Show', @product_type %> |
  <%= link_to 'Back', product_types_path %>
</div>
