<div class="container">
  <div class="d-flex align-items-center">
    <h1>Parent Products</h1>
    <%= link_to "Add New", new_product_type_path, class: "ml-3  btn-clear btn" %>
  </div>
  <table class="table my-2">
    <thead>
      <tr>
        <th class="text-center pl-3" scope="col">ID</th>
        <th class="text-center" scope="col">Image</th>
        <th class = "title" scope="col"> <div class="d-flex"><%= link_to "Title", :sort => "title"%> <p class="carrot">▽</p></div> </th>
        <th scope="col"> MfgLead Time</th>
        <th scope="col"> FBA Fee</th>
        <th scope="col"> Mfg Cost</th>
        <th scope="col"> Children</th>
        <th scope="col"> edit</th>
      </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% @product_types.each do |item| %>
        <tr>
          <td class="text-center" scope="row"><%= item.id %></td>
          <td class="text-center">
            <% if item.photo.attached? %>
              <%= cl_image_tag item.photo.key, class: "icon-square" %>
            <% else %>
              <%= image_tag "no_image_avail.jpg", class: "icon-square" %>
            <% end %>
          </td>
          <td><%= item.title %></td>
          <td><%= item.lead_time %> days</td>
          <td>$ <%= item.fba_fee %></td>
          <td>$ <%= item.cost%></td>
          <td><%= link_to "See Children", product_type_path(item), class: "btn btn-info" %> </td>
          <td><%= link_to "edit", edit_product_type_path(item), class: " text-small btn-edit" %> / <%= link_to 'delete',product_type_path({:id => item.id}),method: :delete, data: {confirm: "Are you sure you want to delete this??"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
