<div class="container w-50">
<p> Edit Child Product Information </p>
  <%= simple_form_for [@product_type, @product] do |f| %>
  <%= f.input :product_type_id, label: "Parent Product" %>
    <%= f.input :title %>
    <%= f.input :asin %>
    <%= f.input :color_size %>
    <%= f.input :description %>
    <%= f.input :sku %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Finished", class: "btn btn-secondary" %>
    <%= f.submit "Add another", class: "btn btn-primary" %>
  <% end %>
  <%= link_to 'Back', @product_type %>

</div>


