<div class="container">
  <h1 class="mt-3 text-center">Welcome to Amazon Dashboard</h1>
  <p class=" text-center font-italic text-gray">Data updated: <%= @most_recent_date.strftime("%b %d, %Y") if @most_recent_date %></p>
  <div label="first-row" class="row ml-0">
    <div label="graph" class="container big-card col-9 rounded p-1">
      <div id="toggle-div" class="container d-flex flex-row-reverse p-0">
        <%= link_to "Year", {:range => "year"}, class: "#{'toggle-active' if params[:range] == 'year'} btn-clear rounded mx-1" %>
        <%= link_to "Month", {:range => "month"}, class: "#{'toggle-active' if params[:range] == 'month'} btn-clear rounded" %>
      </div>
      <%= area_chart @store_data, round: 2, colors: ['#DC4950', '#Ff9900'], thousands: ',' ,prefix: '$ ', ytitle: "Revenue", title: "Total Sales", legend: "right", xmin: @date_range.strftime("%Y-%m-%d") , xmax: @most_recent_date.strftime("%Y-%m-%d") if Sale.count > 1 %>
    </div>
    <div label="stats container" class="container col-3 ">
    <h5 class="text-center">Sales</h5>
      <div class="big-card mb-3 ">
        <div class="d-flex align-items-end justify-content-between">
          <p class="text-bold">This Week: </p>
          <p> <%=number_to_currency(@sales_this_week) %></p>
        </div>
        <div class="d-flex align-items-end justify-content-between">
          <p class="text-bold">This Month: </p>
          <p> <%=number_to_currency(@sales_this_month)%></p>
        </div>
      </div>
      <h5 class="text-center">Inventory</h5>
      <div label="inventory warning" class="big-card">
        <% if @inventory_warning > 1 %>
          <%= link_to  "#{@inventory_warning} inventories are running low", inventories_path, class: "btn btn-warning m-0" %>
        <% elsif @inventory_warning == 1 %>
          <%= link_to  "#{@inventory_warning} inventory may have a problem", inventories_path, class: "btn btn-info m-0" %>
        <% else %>
          <%= link_to  "Inventory Supply is healthy", inventories_path, class: "btn btn-success m-0" %>
        <% end %>
      </div>
    </div>
  </div>
  <div label = "second row" class="row ml-0 mt-3">
    <div class="col-9 big-card">
      <%= column_chart @accounting_data, round: 2, stacked: true, colors:['#606060', '#A9A9A9', '#3CB371'], thousands: ',' ,prefix: '$ ', ytitle: "$", title: "Profitability", legend: "right", xmin: @date_range.strftime("%Y-%m-%d") , xmax: @most_recent_date.strftime("%Y-%m-%d") if Sale.count > 1 %>
    </div>
  </div>
  <div label="third-row" class="row ml-0 mt-3">
    <div label="ptype graph" class="big-card col-9 ">
      <%= column_chart @stacked_data, round: 2, stacked: true, thousands: ',' ,prefix: '$ ', ytitle: "Revenue", title: "By Product Type (#{@store})", xmin: @date_range.strftime("%Y-%m-%d"), xmax: @most_recent_date.strftime("%Y-%m-%d"), legend: "right" if @stacked_data %>
    </div>
    <div class="container col-3">
      <div class="big-card" >
        <h5 class="text-center py-2">Filter by Store</h5>
        <div class="list-group">
          <% @store_list.each do |store|%>
            <%= link_to store.capitalize, {:filter => store}, class: "p-2 list-group-item list-group-item-action" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <table class="table my-2">
    <thead>
      <tr>
        <th class="text-center" scope="col">#</th>
        <th class="text-center" scope="col">Date</th>
        <th class = "title" scope="col"> <div class="d-flex"><%= link_to "Title", :sort => "product_type_id"%> <p class="carrot">▽</p></div> </th>
        <th class = "title" scope="col"> <div class="d-flex"><%= link_to "Revenue", :sort => "sale_amt"%> <p class="carrot">▽</p></div> </th>
      </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% @all_sales.each do |sale| %>
        <tr>
        <% i += 1 %>
          <th class="text-center" scope="row"><%= i %></th>
          <td class="text-center"> <%= sale.date.strftime("%b. %d, %Y") %></td>
          <td><%= link_to sale.product_type.title, product_type_sales_path(sale.product_type_id), class: "btn-simple" %></td>
          <td>$<%= sale.sale_amt %>0</td>
        </tr>
      <% end %>
      <tr> <th class="text-center">...</th><td class="text-center">...</td><td>...</td><td>...</td> </tr>
    </tbody>
  </table>
</div>
